

/* Form bao ngoài */
.form-wrapper {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Tiêu đề form */
.form-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Mỗi dòng nhập */
.form-box div {
    margin-bottom: 10px;
}

/* Label */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;

    color: #333;
}

/* Các input */
.form-box input[type="text"],
.form-box input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}